@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tuân kuto :) Way<br />
    Redmond, WA 1900100 có :v<br />
    <abbr title="Phone">P:0935308035</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">NhomD1@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Tuankuto@gmail.com</a>
</address>